<div class="col-md-10" @routeAnimation *ngIf="fireservice.showQuestion">
    <form [formGroup]="quizForm" (ngSubmit)="onSubmit()" >
<!--        <div formArrayName="questions">
<div class="card">
  <div class="card-header">
    {{question.question}}
  </div>
  <div class="card-block">
    <div class="form-check">
      <label>
            <input
              type="radio"
              [formControlName]="i"     
              [value]="question.option1"> {{question.option1}}
          </label>
    </div>
    <div class="form-check">
      <label>
            <input
              type="radio"
 [formControlName]="i"   
              [value]="question.option2">{{question.option2}}
          </label>
    </div>
    <div class="form-check">

      <label>
            <input
              type="radio"
                         [formControlName]="i"   

              [value]="question.option3">{{question.option3}}
          </label>
    </div>
    <div class="form-check">

      <label>
            <input
              type="radio"
  [formControlName]="i"   
              [value]="question.option4">{{question.option4}}
          </label>
    </div>
  </div>
</div>






</div>-->
    <div *ngFor="let question of questions; let i = index">
    <app-question [form]="quizForm" [formSubmitted]="submitted" [controlIndex]="i" [question]="question"></app-question>

    </div>
    <span *ngIf="!quizForm.valid"
              class="help-block">You must answer all the question to submit </span>
        <button class="btn btn-primary" type="submit"  >Submit</button>

    </form>

</div>