<div class="col-md-10" @routeAnimation *ngIf="fireservice.showQuestion">
  <form [formGroup]="quizForm" (ngSubmit)="onSubmit()">
    <!--        <div formArrayName="questions">
<div class="card">
  <div class="card-header">
    {{question.question}}
  </div>
  <div class="card-block">
    <div class="form-check">
      <label>
            <input
              type="radio"
              [formControlName]="i"     
              [value]="question.option1"> {{question.option1}}
          </label>
    </div>
    <div class="form-check">
      <label>
            <input
              type="radio"
 [formControlName]="i"   
              [value]="question.option2">{{question.option2}}
          </label>
    </div>
    <div class="form-check">
      <label>
            <input
              type="radio"
                         [formControlName]="i"   
              [value]="question.option3">{{question.option3}}
          </label>
    </div>
    <div class="form-check">
      <label>
            <input
              type="radio"
  [formControlName]="i"   
              [value]="question.option4">{{question.option4}}
          </label>
    </div>
  </div>
</div>
</div>-->
    <div *ngFor="let question of questions; let i = index">
      <app-question [form]="quizForm" [formSubmitted]="submitted" [controlIndex]="i" [question]="question"></app-question>

    </div>
    <!--    <span *ngIf="!quizForm.valid" class="help-block">You must answer all the question to submit </span>
-->
      <div class="text-center" style="margin-top:10px">
      <button class="btn btn-primary" type="submit">Submit</button>

      </div>

 

  </form>

</div>

<template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{messageTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{messageTxt}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" [ngClass]="{'btn-danger' : continueFlag}" class="btn btn-primary" (click)="c(buttonReason)">{{modalButtonText}}</button>
    <button type="button" *ngIf="continueFlag" class="btn btn-success" (click)="c('Close click')">Continue</button>

    <!--    <button type="button" class="btn btn-primary" (click)="c('Amar')">Ok</button>
-->
  </div>
</template>

<!--<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
<hr>-->

