<div class="container">
  <ul class="timeline">
    <li>
      <div class="timeline-badge up"><i class="fa fa-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Cricket</h4>
        </div>
        <div class="timeline-body">
          <p>Team 1 - Won EAA Cricket Tournament.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge down"><i class="fa fa-thumbs-down"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Football</h4>
        </div>
        <div class="timeline-body">
          <p>Football (7 per team) tournament is being planned .</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge neutral"><i class="fa fa-navicon"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Photography</h4>
        </div>
        <div class="timeline-body">
          <p>Photography contest is being planned .</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge up"><i class="fa fa-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Kabbadi</h4>
        </div>
        <div class="timeline-body">
          <p>Kabbadi Tournament is being planned</p>
        </div>
      </div>
    </li>


    <li>

      <div class="timeline-badge down"><i class="fa fa-thumbs-down"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">EAA Tour</h4>
        </div>
        <div class="timeline-body">
          <p>2 days outing tour is being planned 😉</p>

        </div>
      </div>
    </li>
  </ul>
</div>