<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Monthly Quiz</h1>
        <p class="lead">A creative fun event application for EAA associates.You need to answer 10 question in 10 minutes. Maximum number
          of correct answers in short time is the criteria to filter toppers. Play and win creative points 😊</p>
        <p class="lead">
          <a (click)="login()" class="btn btn-md btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Sign in with Facebook
          </a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Monthly Quiz for <a href="http://www.boschindia.com/en/in/startpage_5/country-landingpage.php">EAA</a>, by <a href="https://www.photoblog.com/amar/">Amarnath Rajasekaran</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>