<div class="album text-muted">
  <div class="container">

    <div class="row">
      <div class="card">
        <img src="assets/images/wheelon.png" alt="Card image cap">
        <p class="card-text">Wheel on Event was conducted at cafetria.</p>
      </div>
      <div class="card">
        <img src="assets/images/cricket.png" alt="Card image cap">
        <p class="card-text">Team 1 won Cricket Tournament.</p>
      </div>
      <div class="card">
        <img src="assets/images/lagori.png" alt="Card image cap">
        <p class="card-text">Lagori event was conducted last year.</p>
      </div>
      <div class="card">
        <img src="assets/images/fundae.png" alt="Card image cap">
        <p class="card-text">Fundae event was conducted last year</p>
      </div>


    </div>
  </div>