<div class="card" [formGroup]="form">
  <div class="card-header">
    {{question.question}}
  </div>
  <div class="card-block">
    <div class="form-check">
      <label>
            <input
              type="radio"
              [formControlName]="'controlIndex'"     
              [value]="question.option1"> {{question.option1}}
          </label>


    </div>
    <div class="form-check">

      <label>
            <input
              type="radio"
              [formControlName]="'controlIndex'"     

              [value]="question.option2">{{question.option2}}
          </label>


    </div>
    <div class="form-check">

      <label>
            <input
              type="radio"
                           [formControlName]="'controlIndex'"     

              [value]="question.option3">{{question.option3}}
          </label>


    </div>
    <div class="form-check">

      <label>
            <input
              type="radio"
 [formControlName]="'controlIndex'"     
              [value]="question.option4">{{question.option4}}
          </label>


    </div>
  </div>
</div>