<!-- Navigation -->
<div class="container-fluid">
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" style="color:white">Creative</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink="/creative">Quiz</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink="./toppers">Toppers <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">


                        <a class="nav-link" routerLink="./events">Events</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" routerLink="./gallery">Gallery <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()"> <i class="fa fa-sign-out  fa-lg"></i>

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    <div class="row" style="margin-top:60px">
        <div class="col-md-4">
            <div class='card card-profile text-center'>
                <img alt='' class='card-img-top' [src]="loggedUser?.coverUrl" style="width: 340px;height:160px">
                <div class='card-block'>
                    <img alt='' class='card-img-profile' [src]="loggedUser?.photoUrl">
                    <h4 class='card-title'>
                        {{loggedUser?.name}}
                        <small>Boschler</small>
                    </h4>

                    <div id="timer" [style.display]="!alreadyPlayed ? 'block' : 'none'"></div>

                    <button type="button" [style.display]="!alreadyPlayed ? 'inline-block' : 'none'" [disabled]="startTimer" [@buttonState]="startTimer ? 'valid' : 'invalid'"
                        (@buttonState.done)="animationDone($event)" class="btn btn-success" (click)="showTimer();startTimer=true">Start Quiz</button>

                    <h4 class='card-title' [style.display]="!alreadyPlayed ? 'none' : 'block'">
                        <div class="alert alert-success" [ngClass]="(yourScore < 5)?'alert-info':'alert-success'" role="alert">
                            <strong>Your score is :</strong> {{yourScore}}
                            <small>Thanks for participating..😄 🐼 🐯</small>
                        </div>

                    </h4>



                </div>

            </div>

        </div>


        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>


    </div>
</div>




<!-- Page Content -->
<!--
<div class="container">
    <div class="jumbotron">
        <img [src]="loggedUser?.photoUrl" alt="userphoto" class="rounded-circle"> {{loggedUser?.name}}
    </div>

</div>-->